.DescriptionSection {
  padding: 40px;

  img {
    max-width: 100%;
  }

  div {
    max-width: 892px;
  }

  #DescriptionTitle {
    text-decoration: underline;

    img {
      width: 25px;
      vertical-align: sub;
    }
  }
}
